@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    background-color: #dedbdb
}

.container {
    margin-top:10px;
    margin-bottom: 25px;
}

.rating {
    position: relative;
    display: flex;
    width: 2.875rem;
    height: 2.875rem;
    margin-top: -1.75rem;
    margin-left: 0.75rem;
    justify-content: center;
    align-items: center;
    border: .25rem solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: rebeccapurple
}

.image {
    max-width: 100%
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem
}

.card-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    color: #653399
}

.card-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-size: 13px
}

.marker {
    color: red
}

.star-rating {
    color: #f7b944
}
.page-link {
    position: relative;
    display: block;
    color: #046056 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #046056 !important;
}


.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #046056;
    border-color: #024dbc;
}


.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainNavbar{
    padding-left:  50px;
    padding-top: 20px;
}

.navbar-dark .navbar-brand{
    font-family: 'Source Serif Pro', serif;

}

.navbar-nav .nav-link{
    font-family: 'Source Serif Pro', serif;

}

.display-4{
    font-family: 'Source Serif Pro', serif;
}